body {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    border: 1px solid #000;
    left: 0;
    display: none;
    position: absolute; /* draggable */
    width: 480px;
    height: 610px;
    background-color: #fff;
}

#header {
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    text-align: left;
    width: 100%;
    height: 40px;
}

#header p {
    margin-top: 15px;
    margin-left: 15px;
}

.symbols {
    margin-right: 5px;
}

.fa {
    margin-right: 5px;
    cursor: pointer;
}

#description_text {
    text-align: left;
    margin-left: 15px;
    width: 400px;
    padding: 0;
}

#description_text p:not(:last-child) { /* first paragraph */
    margin-top: 15px;
    margin-bottom: 0px;
}

#description_text p:last-child { /* last paragraph */
    margin-bottom: 10px;
}

#pdb-container {
    margin-left: 15px;
    margin-right: 15px;
    width: 450px;
    height: 350px;
    border: 1px solid #ddd;
    margin-top: 15px;
    position: relative;
    /* transition: width 0.5s, height 0.5s; */
}

#pdb {
    width: 100%;
    height: 100%;
    padding-bottom: 77.68%; /* (435 / 560) * 100 */
    position: relative;
}

.infobox {
    padding-top: 10px;
    text-align: left;
    display: block;
}

.infobox-text {
    padding-left: 15px;
}

#tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.fa-info-circle {
    display: inline-block;
}

#tooltipText {
    display: inline-block;
    position: fixed;
    background-color: #fff;
    padding: 10px;
    white-space: nowrap;
    border: 1px solid #000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

#tooltipText::before {
    content: "";
    position: absolute;
    transform: translateX(-50%);
}

#tooltip:hover #tooltipText {
    visibility: visible;
    opacity: 1;
}

.divider {
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
    position: relative;
    width: relative;
    margin-top: 10px;
}
